body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #000000;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.balls {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    animation: balls-rotate 5s ease infinite;
}

.balls::after {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50px;
    left: 50%;
    content: '';
    border-radius: 50%;
    background: #ffffff;
    transform: translateX(-50%);
}

.balls:nth-child(2) {
    animation-delay: 240ms;
}

.balls:nth-child(3) {
    animation-delay: 480ms;
}

.balls:nth-child(4) {
    animation-delay: 720ms;
}

.balls:nth-child(5) {
    animation-delay: 960ms;
}

@keyframes balls-rotate {
    0% {
        opacity: 1;
        transform: rotate(225deg);
        animation-timing-function: ease-out;
    }
    7% {
        transform: rotate(345deg);
        animation-timing-function: linear;
    }
    30% {
        transform: rotate(455deg);
        animation-timing-function: ease-in-out;
    }
    39% {
        transform: rotate(690deg);
        animation-timing-function: linear;
    }
    70% {
        transform: rotate(815deg);
        opacity: 1;
        animation-timing-function: ease-in-out;
    }
    75% {
        transform: rotate(945deg);
        animation-timing-function: ease-out;
    }
    76% {
        transform: rotate(945deg);
        opacity: 0;
    }
    100% {
        opacity: 0;
        transform: rotate(720deg);
        animation-timing-function: ease-in-out;
    }
}