body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: rgb(2, 2, 46);
    overflow: hidden;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .glitch {
    position: relative;
    font-size: 112px;
    color: #ffffff;
    text-transform: uppercase;
}

.container .glitch::before,
.container .glitch::after {
    position: absolute;
    content: 'GLITCH';
    top: 0;
    left: 0;
    color: #ffffff;
    background: rgb(2, 2, 46);
    overflow: hidden;
}

.container .glitch::before {
    left: 4px;
    text-shadow: 2px 0 rgb(82, 93, 248);
    animation: glitch 3s linear infinite;
}

.container .glitch::after {
    left: 4px;
    text-shadow: -2px 0 rgb(236, 60, 75);
    animation: glitch 1s linear infinite;
}

@keyframes glitch {
    0% {
        clip: rect(20px, 999px, 55px, 0);
    }
    20% {
        clip: rect(20px, 999px, 55px, 0);
    }
    21% {
        clip: rect(60px, 999px, 70px, 0);
    }
    30% {
        clip: rect(50px, 999px, 70px, 0);
    }
    40% {
        clip: rect(50px, 999px, 70px, 0);
    }
    50% {
        clip: rect(50px, 999px, 70px, 0);
    }
    51% {
        clip: rect(80px, 999px, 105px, 0);
    }
    80% {
        clip: rect(80px, 999px, 105px, 0);
    }
    81% {
        clip: rect(110px, 999px, 130px, 0);
    }
    90% {
        clip: rect(110px, 999px, 130px, 0);
    }
    100% {
        clip: rect(110px, 999px, 130px, 0);
    }
}